{% extends 'base.html' %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{teacher.last_name}}'s Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>
<!--              <li class="breadcrumb-item active">Starter Page</li>-->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Subject Details:</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Assign Date</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for subject in all_subjects %}
                    <tr>
                      <td>{{subject.subject_ID}}</td>
                      <td>{{subject.subject_name}}</td>
                      <td>{{subject.date}}</td>
                      <td><a href="{% url 'deleteSubject' subject.subject_ID %}" class="btn btn-block btn-danger">Delete</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-4">
            <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);max-width: 400px;margin: auto;text-align: center;">
              <div class="card-header">
                <h5 class="m-0">Profile Details:</h5>
              </div>
              <div class="card-body">
<!--                <object data="/static/img/profile/test.jpg" type="image/png" style="width:100%">-->
                <img src="/static/img/profile/{{teacher.profile_pic}}" alt="John" id="profilePic" style="width:100%" onerror="this.onerror=null;this.src='/static/img/profile/test.jpg'">
<!--                </object>-->
                <h1>{{teacher.first_name}} {{teacher.last_name}}</h1>
                <p class="title">{{teacher.email}}</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });

</script>

{% endblock %}